<footer class="footer">
    <div class="footer-social-media">
      <a href="https://www.facebook.com/your_facebook_page" target="_blank">
        <img src="../assets/facebook.png" alt="Facebook" class="social-media-icon">
      </a>
      <a href="https://www.linkedin.com/feed/" target="_blank">
        <img src="../assets/Linkedin.png" alt="LinkedIn" class="social-media-icon">
      </a>
      <a href="https://www.instagram.com/accounts/login/" target="_blank">
        <img src="../assets/insta.png" alt="Instagram" class="social-media-icon">
      </a>
    </div>
    <p>&copy; 2023 Ally's Laptop Enterprise. All rights reserved.</p>
  </footer>
  