<header>
    <div class="container" align="center">
        <h1>Tech Haven: Your Ultimate Online Laptop Store</h1>
    </div>
  </header>
  <br>
  

  <nav>
    <div class="container">
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Product</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      </ul>
    </div>
  </nav>
  
  <main>
    <div class="container">
       
      <router-outlet></router-outlet>
    </div>
  </main>

  <app-footer></app-footer>


  
        
 

        
 
  





